[Unit]
Description=Activate all disks of the node before g5k-checks is launched
After=network-online.target
Before=oar-node.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/activate-all-disks

[Install]
WantedBy=multi-user.target
