[Unit]
Description=NVIDIA Persistence Daemon
Wants=syslog.target
# Ensure that /dev/nvidia0 is created by first calling nvidia-smi.
# If no GPU is found, nvidia-smi will not create /dev/nvidia0 and we will not run.
Wants=nvidia-smi.service
After=nvidia-smi.service
ConditionPathExists=/dev/nvidia0

[Service]
Type=forking
PIDFile=/var/run/nvidia-persistenced/nvidia-persistenced.pid
Restart=always
ExecStart=/usr/bin/nvidia-persistenced --verbose
ExecStopPost=/bin/rm -rf /var/run/nvidia-persistenced

[Install]
WantedBy=multi-user.target
