[Unit]
Description=Check pmem configuration and put in memory mode
After=network-online.target
Before=oar-node.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/g5k-pmem-manager

[Install]
WantedBy=multi-user.target
